.nav-button {
  margin: 3em;
  border: 0;
  background: none;
  text-transform: uppercase;
  font-family: 'FaktProUI-SemiBold';
  line-height: 23px;
  font-size: 14px;
  color: #222228;
  opacity: 0.5;
  cursor: pointer;
}

.nav-button-clicked {
  margin: 3em;
  border: 0;
  background: none;
  text-transform: uppercase;
  font-family: 'FaktProUI-SemiBold';
  line-height: 23px;
  font-size: 14px;
  color: #222228;
  cursor: pointer;
}

.circle {
  height:8px;
  width: 8px;
  border-radius: 4px;
  background: #000000;
  margin-left: 50%;
  margin-bottom: 5px;
}
