.video-container {
  position: absolute;
  top: 28%;
  left: 8.33%;
  right: 8.33%;
  width: 1200px;
  height: 879px;
  background: #F8F8F8;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 1;
}

.auth0-intro {
  position: relative;
  top: 88px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #333333;
  border: 2px solid blue;
}

.auth0-pitch {
  position: relative;
  top: 12%;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  color: #333333;
  padding-left: 8em;
  padding-right: 8em;
  border: 2px solid blue;
}

.video {
  position: relative;
  border: 2px solid blue;
  background: green;
  height: 25em;
  top: 18%;
}

.navigation {
  position: relative;
  top: 25%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.nav-button {
  margin: 3em;
  border: 0;
  background: none;
  text-transform: uppercase;
}
