.static-container {
  background: #FFFFFF;
  width: 100%;
  height:75em;
  position: relative;
}
.map {
  position: absolute;
  right: 0;
  bottom:0;
}

.brands{
  position: absolute;
  text-align: center;
  height: 44em;
  top: 35%;
}

.brands-title {
  position: absolute;
  width: 100%;
  line-height: 54px;
  font-size: 36px;
  text-align: center;
  top: 25%;
  color: #333333;
}

.logos-container {
  position: relative;
  top: 40%;
}

.all-logos {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  width: 130px;
  margin: 3em 2em 0em 2em;

}

.image-fit {
  display: block;
  width: 100%;
	height: auto;
  max-height: 60px;
  margin: auto;
  filter: grayscale();
}

.see-all {
  position: relative;
  top: 50%;
  text-align: center;
  font-family: 'FaktPro-Normal';
  font-size: 20px;
  line-height: 40px;
}

@media screen and (max-width: 600px){

.brands{
  top: 2%;
}

.static-container{
  margin-top: -35px;
}
.brands-title {
  padding-left: 10%;
  padding-right: 10%;
  width: auto;
}

  .map {
    display: none;
  }

  .all-logos {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10%;
  }

}
