.intro-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 62.82%;
  background: #212127;
  width: 1440px;
  height: 1101px;
}

.intro-video {
  height: 100%;
  width: 100%;
  padding: none;
}
