.static-container {
  background: #FFFFFF;
  border: 2px solid green;
  width: 100%;
  height: 73em;
  position: relative;
}
.map {
  position: absolute;
  right: 0;
  bottom:0;
}

.brands{
  position: absolute;
  height: 44em;
  width: 100%;
  top: 310px;
}

.brands-title {
  position: absolute;
  height: 54px;
  left: 291px;
  right: 291px;
  line-height: 54px;
  font-size: 36px;
  text-align: center;
  top: 220px;
  color: #333333;
}

.logos-container {
  position: relative;
  top: 40%;
}

.logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 130px;
  margin: 3em 2em 0em 2em;

}

.image-fit {
  display: block;
  width: 100%;
	height: auto;
  max-height: 60px;
  margin: auto;
  filter: grayscale();
}

.see-all {
  position: relative;
  top: 50%;
  text-align: center;
  font-family: 'FaktPro-Normal';
  font-size: 20px;
  line-height: 40px;
}
